.p-dropdown-label{
    font-size: 13px;
    padding: 0px;
}
.p-dropdown-items{
    font-size: 13px;
}
.p-dropdown-trigger{
    justify-content: end;
}
.p-progressbar-value{
    background-color: #E4003A;
}
.p-fileupload-buttonbar{
    background: none;
    border-left: 2px dashed lightgray;
    border-right: 2px dashed lightgray;
    border-top: 2px dashed lightgray;
    border-bottom: none;
    display: flex;
    justify-content: center;
}
.p-fileupload-content{
    background: none;
    border-left: 2px dashed lightgray;
    border-right: 2px dashed lightgray;
    border-bottom: 2px dashed lightgray;
    border-top: none;
}
.p-button.p-component[aria-label="Cancel"]{
    display: none;
}
.p-button{
    background-color: #E4003A;
    color: white;
    border: none;
}
.p-slider-range{
    background-color: #E4003A;
}
.p-slider-handle{
    border: 2px solid #E4003A;
}
.p-progressbar-label{
    display: none;
}

.p-confirm-dialog-reject{
    background-color: #d9d5d2;
    color: white;
    border: none;
}

.p-confirm-dialog-accept {
    background-color: #8C0D60;
}